RewriteEngine On

# If not a file or directory, rewrite to index.php with project_number
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([A-Za-z0-9_-]+)/?$ index.php?project_number=$1 [L,QSA]
