// Sass Variables
$color-primary: #fb974e;
$color-secondary: #213360;
$color-heading: #0e204d;
$color-body: #0e204d;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading: 'Noto Sans Thai',
sans-serif;

$font-body: 'Noto Sans Thai',
sans-serif;

$body-font-size: 14px;